body{
  margin: 0;
  text-align: center;
  font-family:'Merriweather',serif;
  color: #40514E;

}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family:'Sacramento',cursive;
  color: #66BFBF;
  line-height: 2;

}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
.top-container{
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.middle-container{
margin: 100px auto;


}
.bottom-container{
background-color: powderblue;
padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}
.web{
  width: 25%;
  float: left;
  margin-right:30px;
}
.content{
   width: 25%;
   float: right;
   margin-left:30px;
}
.intro{
  width:30%;
  margin: auto;
}
.contact-msg{
  width:40%;
  margin: 40px auto 60px;
}
p{
  line-height: 2;
  border-radius: 30px 0 30px 0;
  background-color:black;
  color:white;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color:#11999E;
  font-family:'Montserrat',sans-serif;
  margin: 5px 10px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.button {
  background-color: #66BFBF; /* powderblue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  border-radius: 50%;
}
.button:hover{
  color:black;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
